/* Font definitions */
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/raleway-v28-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/raleway-v28-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/raleway-v28-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/raleway-v28-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/raleway-v28-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/raleway-v28-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('../fonts/raleway-v28-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/raleway-v28-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* END font definition */

.content p code,
.content li code {
    color: black;
}

.content a code {
    color: #3b8bba;
}

.content a:hover code {
    text-decoration: underline;
}

.content a:visited code {
    color: #265778;
}

.content blockquote {
    border-left: solid 4px #777;
    margin-left: 0;
    padding-left: 1rem;
    font-style: italic;
    font-weight: lighter;
}

.content blockquote em {
    font-weight: bolder;
}

.multilingual-post-note {
    margin-top: 3em;
}

.pure-menu-item.feed {
    border-top: solid 1px #333;
}

#menu {
    display: flex;
    flex-direction: column;
}

#menu div.social {
    flex-grow: 1;
}

div.legalbullshit {
  border-top: solid 1px #333;
  border-bottom: solid 1px #333;
  font-size: 90%;
}

div.legalbullshit a:hover {
  background: none;
}
